
.aboutx2{
    background-color: indigo;
}
.aboutme{
   
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 50px; */
}
/* .aboutme22{
    top: 125%;
} */
/* .aboutme2{
    visibility: visible;
} */


.column{
    height: 100vh;
    background-color: rgba(0, 0, 0,0.6);
    width: 100vw;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding-left: 10px;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.wrap2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}









.a2{
    animation-delay: 0.1s;
  
}


.b{
    animation-delay: 0.3s;
   
}
.c{
    animation-delay: 0.4s;
 
}
.d{
    animation-delay: 0.5s;
  
}


.e{
    animation-delay: 0.6s;
}
.f{
    animation-delay:0.7s ;
}
.g{
    animation-delay: 0.8s;
}
.h{
    animation-delay:0.9s ;
}
.i{
    animation-delay:1.0s ;
}
.j{
    
    animation-delay: 1.2s;
   
}
.k{
   
    animation-delay:1.3s ;
   
}
.l{
   
    animation-delay: 1.4s;
   
}
.m{
  
    animation-delay: 1.5s;
    
}
.n{
   
    animation-delay: 1.6s;
   
}
.o{
    
    animation-delay: 1.7s;
    
}
.p{
   
    animation-delay: 1.8s;
    
}

.q{
 
    animation-delay:1.9s ;
   
}
.r{
    
    animation-delay: 2.0s;
    
}
.s{
    
    animation-delay: 2.1s;
    
}
.t{
   
    animation-delay: 2.2s;
  
}
.u{
   
    animation-delay: 2.3s;
  
}
.v{
   
    animation-delay: 2.4s;
   
}
.w{
   
    animation-delay: 2.5s;
  
}
.xia{
   
    animation-delay: 2.6s;
  
}
.y{
    
    animation-delay: 2.7s;
   
}
.z{
   
    animation-delay: 2.8s;
  
}
.ai{
  
    animation-delay: 2.9s;
   
}
.bi{
    
    animation-delay:3.0s ;
  
}
.ci{
   
    animation-delay: 3.1s;
   
}
.di{
   
    animation-delay: 3.2s;
   
}
.ei{
   
    animation-delay: 3.3s;
   
}
.fi{
    
    animation-delay: 3.4s;
    
}


.gi{
    
    animation-delay:3.5s ;
   
}
.hi{
   
    animation-delay: 3.6s;
   
}
.ii{
    
    animation-delay: 3.7s;
   
}
.ji{
  
    animation-delay: 3.8s;
   
}
.ki{
  
    animation-delay: 3.9s;
  
}
.li{
   
    animation-delay: 4.0s;
   
}
.mi{
   
    animation-delay:4.1s ;
   
}
.ni{
   
    animation-delay: 4.2s;
   
}
.oi{
   
    animation-delay:4.3s ;
  
}
.pi{
   
    animation-delay: 4.4s;
   
}
.qi{
   
    animation-delay: 4.5s;
   
}
.ri{
    
    animation-delay: 4.6s;
  
}
.si{
    
    animation-delay: 4.7s;
   
}
.ti{
  
    animation-delay: 4.8s;
   
}
.ui{
   
    animation-delay: 4.9s;
    
}
.vi{
    
    animation-delay: 5.0s;
   
}

.wi{
   
    animation-delay: 5.1s;
  
}
.xi{
  
    animation-delay: 5.2s;
   
}
.yi{
   
    animation-delay: 5.3s;

}
.zi{
   
    animation-delay: 5.4s;
  
}
.ae{
    
    animation-delay: 5.5s;
  
}
.be{
  
    animation-delay: 5.6s;
  
}
.ce{
   
    animation-delay: 5.7s;
  
}
.de{
   
    animation-delay:5.8s ;
   
}
.ee{
   
    animation-delay: 5.9s;
  
}
.fe{
   
    animation-delay: 6.0s;
  
}
.ge{
  
    animation-delay: 6.1s;
   
}
.he{
   
    animation-delay: 6.2s;
  
}
.ie{
    
    animation-delay:6.3s ;
   
}
.je{
   
    animation-delay:6.4s ;
 
}
.ke{
    
    animation-delay: 6.5s;
    
}
.le{
   
    animation-delay: 6.6s;
   
    
}

.me{
    
    animation-delay: 6.7s;
   
}
.ne{
   
    animation-delay: 6.8s;
}
   
.oe{
   
    animation-delay: 6.9s;
  
}
.pe{
   
    animation-delay: 7.0s;
    
}
.qe{
   
    animation-delay: 7.1s;
   
}
.re{
    
    animation-delay: 7.2s;
  
}
.se{
   
    animation-delay: 7.3s;
   
}
.te{
   
    animation-delay:7.4s ;
   
}
.ue{
   
    animation-delay: 7.5s;
   
}
.ve{
  
    animation-delay: 7.6s;
   
}
.we{
    
    animation-delay:7.7s ;
  
}
.xe{
   
    animation-delay: 7.8s;
    
}
.ye{
   
    animation-delay:7.9s ;
   
}
.ze{
    
    animation-delay: 8.0s;
   
}
.ac{
   
    animation-delay:8.1s ;
   
}
.bc{
    
    animation-delay:8.2s ;
    
}
.cc{
   
    animation-delay: 8.3s;
    
}
.dc{
   
    animation-delay:8.4s ;
  
}
.ec{
   
    animation-delay: 8.5s;
 
}
.fc{
    animation-delay: 8.6s;
  
}
.gc{
   
    animation-delay: 8.7s;
   
}
.hc{
   
    animation-delay: 8.8s;
   
}

.ic{
    
    animation-delay: 8.9s;
   
}
.jc{
   
    animation-delay: 9.0s;
    
}
.kc{
   
    animation-delay: 9.1s;
   
}
.lc{
   
    animation-delay: 9.2s;
   
}
.mc{
  
    animation-delay: 9.3s;
   
}
.nc{
   
    animation-delay: 9.4s;
   
}
.oc{
    
    animation-delay:9.5s ;
   
}
.pc{
  
    animation-delay: 9.6s;
   
}
.qc{
   
    animation-delay: 9.7s;
    
}
.rc{
    
    animation-delay: 9.8s;
   
}
.sc{
  
    animation-delay: 9.9s;
   
}

.aname{
    color: transparent;
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-name: type;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}


@keyframes type{
    form {
        color: transparent;
    }
    to{
        color: white;
    }
}